// Specific CSS for your home-page


.content-container {
  background-image: url('https://images.unsplash.com/photo-1521464302861-ce943915d1c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80');
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  }


.center_div {
    margin: 0 auto;
    text-align: center;
    /* value of your choice which suits your alignment */
}// Specific CSS for your home-page


.container_form {
      text-align: center;
      padding-top: 180px
    /* value of your choice which suits your alignment */
}// Specific CSS f



.container-home {
  display: flex;
  align-items: center;
  justify-content: center;
}


.text h1 {
  color: white;
  letter-spacing: 3px;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.2);
  font-size: 45px;
}


.differentcolor {
  color: #FE5B5F;
}

.form {
  cursor: pointer;
}
