.button {
  color: #FE5B5F;
  font-weight: 600;
  font-family: "Helvetica";
  background: transparent;
  padding: 8px;
  border: none;
}
.button:hover {
  border-bottom: 1px solid #FE5B5F;
  color: #FE5B5F;
  text-decoration: none;
   }

.search-button {
    color: #FE5B5F;
  font-weight: 600;
  font-family: "Helvetica";
  background: transparent;
  padding: 4px;
  border: none;
  border-bottom: 1px solid #FE5B5F;
}

.button-white {
  color: white;
  font-size: 24px;
}

.button-white:hover {
  border-bottom: 1px solid white;
  color: white;
  text-decoration: none;
}
