.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  padding: 24px;
}

.card-body {
  line-height: 1.2;
}

.bor {
  border-bottom: 1px solid gray;
}

#map {
  position: sticky;
  top: 0;
  height: 1000px;
}

