.footer-show {
    clear: both;
    margin-top: 100px;
    font-family: "helvetica";
    background-color: white;
    padding-top: 20px;
    padding-left: 200px;
}


.footer-show h5 {
  color: black;
  font-weight: bold;
}



.footer-show a {
  color: black;
}

.footer-show a:hover {
  color: #FE5B5F;
  text-decoration: none;
}



