.modal-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  width: 500px;
  height: 650px;
  margin: auto;
}
.modal-card a {
 text-decoration: none;
 color: #4F5A5C;
}
.modal-card-smaller {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  width: 500px;
  height: 650px;
  margin: auto;
}
