.nav-link {
  color: white;
  font-weight: 500 !important;
  font-family: "raleway";
  font-size: 14px;
  line-height: 1.43;
  font-size: 16px;
  letter-spacing: -1px;
  font-weight: 600;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 5px;
  padding-bottom:10px;
}

.nav-link:hover {
  border-bottom: 2px solid white;
  text-decoration: none;
  color: white;
}

 img {
  width: 40px;
}


.nav-background {
  position: relative;
  top: -16px;
  background-color: white;
  border-bottom: 1px solid #d8dfe2;
}


.nav-link-1 {
  color: gray;
  font-weight: 500 !important;
  font-family: "raleway";
  font-size: 14px;
  line-height: 1.43;
  font-size: 16px;
  letter-spacing: -1px;
  font-weight: 600;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 5px;
  padding-bottom:10px;
}

.nav-link-1:hover {
  border-bottom: 2px solid gray;
  text-decoration: none;
  color: gray;
}
